<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
<title>首页</title>
<meta name="description" content="">
<meta name="keywords" content="">
<!--[if lt IE 10]>
        <script src="/ncjxdPage/static/src/js/ie_update.js"></script>
<![endif]-->
<link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="/ncjxdPage/static/src/style/lib/bootstrap/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/ncjxdPage/static/src/style/lib/swiper.min.css">
<link rel="stylesheet" type="text/css" href="/ncjxdPage/static/src/style/public.css">
<link rel="stylesheet" type="text/css" href="/ncjxdPage/static/src/style/index.css">
</head>
<body>  
<div id="header">
  <div class="container">
    <div class="title">
        <h3>湖北省农村教学点网校</h3>
        <p>— 管理与服务平台 —</p>
    </div>
   <ul class="nav navbar-nav">
    <li class="active">
      <a href="##">首页</a>
    </li>
    <li>
       <a href="#">巡课互动</a>
    </li>
     <li>
       <a href="#">直播活动</a>
    </li>
    <li class="dropdown">
        <a href="##" data-toggle="dropdown" class="dropdown-toggle">课程表<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="##">计划列表</a></li>
          <li><a href="##">开课确认</a></li>
        </ul>
     </li>
      <li class="dropdown">
        <a href="##" data-toggle="dropdown" class="dropdown-toggle">数字资源<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">学科资源</a></li>
          <li><a href="#">教学点录课</a></li>
        </ul>
     </li>
      <li>
         <a href="#">教师研修</a>
      </li>
      <li><a href="##">在线统计</a></li>
   </ul>
</div>
</div>

 <div id="banner">
      <div class="swiper-container" id="bannerRound">
          <div class="swiper-wrapper">
              <div class="swiper-slide" style="background-image: url('a.jpg')">
                 <a href=" ">
                  
                 </a>
              </div>
              
              <div class="swiper-slide" style="background-image:url('https://files.dodoedu.com/resize/650x650/attachments/1505b835b290275d.jpg')">
                   <a href=" ">
                    
                 </a>
              </div>
               <div class="swiper-slide" style="background-image:url('https://files.dodoedu.com/resize/650x650/attachments/9995b835b97d67ad.jpg')">
                   <a href=" ">
                    
                 </a>
              </div>
          </div>
          <div class="swiper-pagination"></div>
         
      </div>
      <div class="container" >
         <div class="banner-bar banner-pre">
           <i class="fa fa-chevron-left"></i>
         </div>
         <div  class="banner-bar banner-next">
            <i class="fa fa-chevron-right"></i>
         </div>




         <!-- 登录后 -->
      	<div class="white_black" style="display: none;">
          <div class="body">
             <div class="title">
               <h4>省级管理员</h4>
            </div>
               <img class="author" src="http://images.dev.dodoedu.com/image/20171505899298-113291-3660-8805-160.jpg">
             <div>
             <div class="name">
                 李老师
             </div>
              <div class="btnWrap"> 
                 <a href="#" class="btn btn-info btn-lg">个人中心</a>
                 <a href="#" class="btn btn-default btn-lg">退出登录</a>
               </div>
             </div>
          </div>
      </div>
      <!-- 登录前 -->
      <div class="white_black" >
          <div class="body">
            <div class="title clearfix">
               <div class="h4 active" id="manageLogin">管理员登录</div>
               <div class="h4" id="teacherLogin">教师登录</div>
            </div>
            <form class="manageLogin">
              <ul class="list-unstyled">
                <li>
                   <i class="fa fa-user" aria-hidden="true"></i>
                   <input type="text"placeholder="用户名" autocomplete="off">
                </li>
                <li>
                   <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                   <input type="password"  placeholder="密码"  autocomplete="new-password">
                </li>
              </ul>
              <div class="eer">
                   <input type="checkbox" name="" id="thinkPass"> <label for="thinkPass">记住密码</label>
              </div>
              <div class="clear foragerbt">
                 <a  class="pull-right"></a>
              </div>
              <input class="btn btn-info btn-lg btn-block" value="登 录" type="submit">
          </form>
          <div class="teacherLogin" style="display: none;">
                <a href="">
                  <img src="../static/src/img/logo.png" class="go">
                </a>
                 <p> <i class="fa fa-hand-pointer-o" aria-hidden="true"></i><i class="fa fa-hand-pointer-o" aria-hidden="true"></i><i class="fa fa-hand-pointer-o" aria-hidden="true"></i></p>
             </div>
          </div>
        </div>

        
      </div>
  </div>
  <div class="container" id="lists"  >
         <div class="row">
            <div class="col-md-4">
               <div class="list">
                  <div class="head">
                    <h4>通知公告</h4>
                    <a href="#">更多>></a>
                  </div>
                  <div class="body">
                    <ul class="list-unstyled">
                       <li>
                         <i class="fa fa-caret-right" aria-hidden="true"></i>
                        <a href="#">湖北省教育信息化发展中心（湖北省电化村教师村教师信息信息</a>
                      </li>
                       <li>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        <a href="#">关于开展2018年度湖北省中信息村教师信息</a>
                       </li>
                       <li>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        <a href="#">湖北省教育信息化化村教师村教师信息信息</a>
                      </li>
                       <li>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        <a href="#">关于开展2018年度省中小学农村教师信息村教师信息</a>
                      </li>
                      <li>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        <a href="#">湖北省心（湖北省电化村教师村教师信息信息</a>
                      </li>
                    </ul>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="list">
                  <div class="head">
                    <h4>工作状态</h4>
                     <a href="#">更多>></a>
                  </div>
                  <div class="body">
                    <ul class="list-unstyled">
                      <li>
                         <i class="fa fa-caret-right" aria-hidden="true"></i>
                        <a href="#">湖北省教息信息8年度信息村教师</a>
                      </li>
                       <li>
                         <i class="fa fa-caret-right" aria-hidden="true"></i>
                         <a href="#">关于开展2018年度信息村教师信息</a>
                       </li>
                       <li>
                         <i class="fa fa-caret-right" aria-hidden="true"></i>
                        <a href="#">湖北省教育信息化发展中心（湖北省电化村教师村教师信息信息</a>
                       </li>
                       <li>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        <a href="#">关于开展2018年度湖北省中小学农村教师信息村教师信息</a>
                       </li>
                       <li>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        <a href="#">湖北省教育教师信息信息</a>
                      </li>
                       <li>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        <a href="#">关于开展2018年度湖北省息村教师信息</a>
                       </li>
                    </ul>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="list">
                  <div class="head">
                    <h4>政策文件</h4>
                     <a href="#">更多>></a>
                  </div>
                  <div class="body">
                    <ul class="list-unstyled">
                       <li>暂无数据</li>
                      
                    </ul>
                  </div>
               </div>
            </div>
         </div>
  </div>
   <div class="container" id="spot">
   	  <h4>活动现场</h4>
   	  <div class="section">
   	  	  <div class="bar bar_left pull-left">
   	  	  	 <i class="fa fa-chevron-left" aria-hidden="true"></i> 
   	  	  </div>
   	  	  <div class="swiper-container" id="spotRound">
              <div class="swiper-wrapper">
                  <div class="swiper-slide">
                     <div class="inner">
                         <a href="https://files.dodoedu.com/resize/650x650/attachments/4605b835b965bf5b.jpg">
                         <img src="https://files.dodoedu.com/resize/650x650/attachments/4605b835b965bf5b.jpg">
                      </a>
                     </div>
                  </div>
                  <div class="swiper-slide">
                     <div class="inner">
                         <a href="https://files.dodoedu.com/resize/650x650/attachments/9995b835b97d67ad.jpg">
                           <img src="https://files.dodoedu.com/resize/650x650/attachments/9995b835b97d67ad.jpg">
                         </a>
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="inner">
                         <a href="https://files.dodoedu.com/resize/650x650/attachments/1505b835b290275d.jpg">
                           <img src="https://files.dodoedu.com/resize/650x650/attachments/1505b835b290275d.jpg">
                         </a>
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="inner">
                         <a href="https://files.dodoedu.com/resize/650x650/attachments/1985b835b276900d.jpg">
                           <img src="https://files.dodoedu.com/resize/650x650/attachments/1985b835b276900d.jpg">
                         </a>
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="inner">
                         <a href="https://files.dodoedu.com/resize/650x650/attachments/1505b835b290275d.jpg">
                           <img src="https://files.dodoedu.com/resize/650x650/attachments/1505b835b290275d.jpg">
                         </a>
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="inner">
                         <a href="https://files.dodoedu.com/resize/650x650/attachments/2055b835b2a7af56.jpg">
                           <img src="https://files.dodoedu.com/resize/650x650/attachments/2055b835b2a7af56.jpg">
                         </a>
                      </div>
                  </div>
              </div>
          </div>
   	  	  <div class="bar bar_right pull-right">
   	  	  	<i class="fa fa-chevron-right"></i>
   	  	  </div>
   	  </div>
   </div>

  <div class="container" id="Rec">
      <h4>精品资源</h4>
      <div class="row">
          
          <div class="col-md-2">
               <div class="aticle text-center">

                        <p>— 丰富资源 —</p>
                        <p>— 免费共享 —</p>
                        <p class="space biger">66 条资源共享</p>
                        <p>— 多种类型 —</p>
                        <p class="biger">教案  课件  视频</p>
                        <p class="biger">学案  试题  教材</p>
               </div>   
          </div>
          <div class="col-md-10">
               <div class="seciton"> 
               	  <div class="nav clear">
               	  	   <span>语文</span>
               	  	   <span>数学</span>
               	  	   <span>英语</span>
               	  	   <span>美术</span>
               	  	   <span>音乐</span>
               	  	   <span>生命安全</span>
               	  	   <span>心理健康</span>
               	  	   <span>体育</span>
               	  	   <span>科学</span>
               	  	   <a>更多>></a>
               	  </div>
                  <div class="content clear">
                  	  <ul class="list-unstyled">
                  	 	 	 	<li>
                  	 	 	 	   <a href="#">
                  	 	 	 	   	 <span class="typeIcon"></span>
                  	 	 	 	     点寺坪镇小学音乐主讲教师正在通过教学点网校为铺.mp4
                  	 	 	 	   </a>
                  	 	 	    </li>
                                <li>
                  	 	 	 	   <a href="#">
                  	 	 	 	   	 <span class="typeIcon typeIcon-word""></span>
                  	 	 	 	     寺坪镇小学音乐主讲教师正在通过教学点网校为铺.mp4
                  	 	 	 	   </a>
                  	 	 	    </li>
                  	 	 	 	<li>
                  	 	 	 	   <a href="#">
                  	 	 	 	   	 <span class="typeIcon typeIcon-mp4"></span>
                  	 	 	 	     寺坪镇小学音乐主讲教师正在通过教学点网校为铺.mp4
                  	 	 	 	   </a>
                  	 	 	    </li>
                  	 	 	    <li>
                  	 	 	 	   <a href="#">
                  	 	 	 	   	 <span class="typeIcon typeIcon-ppt"></span>
                  	 	 	 	     寺坪镇小学音乐主讲教师正在通过教乐主讲教学点网校为铺.mp4
                  	 	 	 	   </a>
                  	 	 	    </li>
                             <li>
                             <a href="#">
                               <span class="typeIcon typeIcon-pdf"></span>
                               寺坪镇小学音乐主讲教师正在通过教乐主讲教学点网校为铺.mp4
                             </a>
                            </li>
                                <li>
                  	 	 	 	   <a href="#">
                  	 	 	 	   	 <span class="typeIcon typeIcon-audio"></span>
                  	 	 	 	     寺坪镇小学音乐主讲教师正在通过教学点网校为铺.mp4
                  	 	 	 	   </a>
                  	 	 	    </li>
                  	 	 	    <li>
                  	 	 	 	   <a href="#">
                  	 	 	 	   	 <span class="typeIcon typeIcon-excel"></span>
                  	 	 	 	     寺坪镇小学音乐主讲教师正在通过教学点网校为铺.mp4
                  	 	 	 	   </a>
                  	 	 	    </li>
                                <li>
                  	 	 	 	   <a href="#">
                  	 	 	 	   	 <span class="typeIcon typeIcon-jpg"></span>
                  	 	 	 	     寺坪镇小学音乐主讲教师正在通过教学点网校为铺.mp4
                  	 	 	 	   </a>
                  	 	 	    </li>
                  	 	 	 
                  	 	 	    
                             

                  	 	 	 </ul>
                  </div> 
               </div>
          </div>
      </div>
   </div>
   <div class="container" id="advance">
   	   <h4>最新研修</h4>
   	   <div class="row">
   	   	  
   	   	  <div class="col-md-3">
   	   	  	 <div class="inner"> 
   	   	  	 	<a href="#" class="banner">
   	   	  	 		<img src="http://reserver.needu.cn:9000/images/resource2/421222/video/20181025/cca9e792fe6340fda19d09b4987542d0/09825dc5f2f74e50aa63e47f13154f21_capture/1.jpg">
   	   	  	 		<div class="title-piont">预 告</div>
   	   	  	 	    <div class="title-min">《情绪调控器》课题研讨</div>
   	   	  	 	</a>
   	   	  	 
   	   	  	 <p class="title-main">主讲：张英</p>
   	   	  	 <p class="title-beizhu">2018-9-28(星期二) 10:00</p>
   	   	  	 </div>
   	   	  </div>
   	   	  <div class="col-md-3">
   	   	  	 <div class="inner"> 
   	   	  	 	<a href="#" class="banner">
   	   	  	 		<img src="http://reserver.needu.cn:9000/images/resource2/421222/video/20181025/cca9e792fe6340fda19d09b4987542d0/09825dc5f2f74e50aa63e47f13154f21_capture/1.jpg">
   	   	  	 		<div class="title-piont">预 告</div>
   	   	  	 	    <div class="title-min">《情绪调控器》课题研讨</div>
   	   	  	 	</a>
   	   	  	 
   	   	  	 <p class="title-main">主讲：张英</p>
   	   	  	 <p class="title-beizhu">2018-9-28(星期二) 10:00</p>
   	   	  	 </div>
   	   	  </div> 
   	   	  <div class="col-md-3">
   	   	  	 <div class="inner"> 
   	   	  	 	<a href="#" class="banner">
   	   	  	 		<img src="http://reserver.needu.cn:9000/images/resource2/421222/video/20181025/cca9e792fe6340fda19d09b4987542d0/09825dc5f2f74e50aa63e47f13154f21_capture/1.jpg">
   	   	  	 		<div class="title-piont">预 告</div>
   	   	  	 	    <div class="title-min">《情绪调控器》课题研讨</div>
   	   	  	 	</a>
   	   	  	 
   	   	  	 <p class="title-main">主讲：张英</p>
   	   	  	 <p class="title-beizhu">2018-9-28(星期二) 10:00</p>
   	   	  	 </div>
   	   	  </div>
   	   	  <div class="col-md-3">
   	   	  	 <div class="inner"> 
   	   	  	 	<a href="#" class="banner">
   	   	  	 		<img src="http://reserver.needu.cn:9000/images/resource2/421222/video/20181025/cca9e792fe6340fda19d09b4987542d0/09825dc5f2f74e50aa63e47f13154f21_capture/1.jpg">
   	   	  	 		<div class="title-piont">预 告</div>
   	   	  	 	    <div class="title-min">《情绪调控器》课题研讨</div>
   	   	  	 	</a>
   	   	  	 
   	   	  	 <p class="title-main">主讲：张英</p>
   	   	  	 <p class="title-beizhu">2018-9-28(星期二) 10:00</p>
   	   	  	 </div>
   	   	  </div> 
   	   	  <div class="col-md-3">
   	   	  	 <div class="inner"> 
   	   	  	 	<a href="#" class="banner">
   	   	  	 		<img src="http://reserver.needu.cn:9000/images/resource2/421222/video/20181025/cca9e792fe6340fda19d09b4987542d0/09825dc5f2f74e50aa63e47f13154f21_capture/1.jpg">
   	   	  	 		<div class="title-piont">预 告</div>
   	   	  	 	    <div class="title-min">《情绪调控器》课题研讨</div>
   	   	  	 	</a>
   	   	  	 
   	   	  	 <p class="title-main">主讲：张英</p>
   	   	  	 <p class="title-beizhu">2018-9-28(星期二) 10:00</p>
   	   	  	 </div>
   	   	  </div>
   	   	  <div class="col-md-3">
   	   	  	 <div class="inner"> 
   	   	  	 	<a href="#" class="banner">
   	   	  	 		<img src="http://reserver.needu.cn:9000/images/resource2/421222/video/20181025/cca9e792fe6340fda19d09b4987542d0/09825dc5f2f74e50aa63e47f13154f21_capture/1.jpg">
   	   	  	 		<div class="title-piont">预 告</div>
   	   	  	 	    <div class="title-min">《情绪调控器》课题研讨</div>
   	   	  	 	</a>
   	   	  	 
   	   	  	 <p class="title-main">主讲：张英</p>
   	   	  	 <p class="title-beizhu">2018-9-28(星期二) 10:00</p>
   	   	  	 </div>
   	   	  </div> 
   	   	  <div class="col-md-3">
   	   	  	 <div class="inner"> 
   	   	  	 	<a href="#" class="banner">
   	   	  	 		<img src="http://reserver.needu.cn:9000/images/resource2/421222/video/20181025/cca9e792fe6340fda19d09b4987542d0/09825dc5f2f74e50aa63e47f13154f21_capture/1.jpg">
   	   	  	 		<div class="title-piont">预 告</div>
   	   	  	 	    <div class="title-min">《情绪调控器》课题研讨</div>
   	   	  	 	</a>
   	   	  	 
   	   	  	 <p class="title-main">主讲：张英</p>
   	   	  	 <p class="title-beizhu">2018-9-28(星期二) 10:00</p>
   	   	  	 </div>
   	   	  </div>
   	   	  <div class="col-md-3">
   	   	  	 <div class="inner"> 
   	   	  	 	<a href="#" class="banner">
   	   	  	 		<img src="http://reserver.needu.cn:9000/images/resource2/421222/video/20181025/cca9e792fe6340fda19d09b4987542d0/09825dc5f2f74e50aa63e47f13154f21_capture/1.jpg">
   	   	  	 		<div class="title-piont">预 告</div>
   	   	  	 	    <div class="title-min">《情绪调控器》课题研讨</div>
   	   	  	 	</a>
   	   	  	 
   	   	  	 <p class="title-main">主讲：张英</p>
   	   	  	 <p class="title-beizhu">2018-9-28(星期二) 10:00</p>
   	   	  	 </div>
   	   	  </div>
   	   </div>
   </div>
 
    
   
    
 

</body>
<script src="http://images.dev.dodoedu.com/ncjxdPage/static/src/js/lib/require.js"></script>
<script src="http://images.dev.dodoedu.com/ncjxdPage/static/src/js/re-config.js"></script>
<script src="/ncjxdPage/static/src/js/index.js"></script>
</html>