<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
<title>资讯列表</title>
<meta name="description" content="">
<meta name="keywords" content="">
<!--[if lt IE 10]>
        <script src="/ncjxdPage/static/src/js/ie_update.js"></script>
<![endif]-->
<link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="../static/src/style/lib/bootstrap/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/src/style/lib/swiper.min.css">
<link rel="stylesheet" type="text/css" href="../static/src/style/public.css">
<link rel="stylesheet" type="text/css" href="../static/src/style/list.css">
</head>
<body>  
<div id="header">
  <div class="container">
    <div class="title">
        <h3>湖北省农村教学点网校</h3>
        <p>— 管理与服务平台 —</p>
    </div>
   <ul class="nav navbar-nav">
    <li class="active">
      <a href="##">首页</a>
    </li>
    <li>
       <a href="#">巡课互动</a>
    </li>
     <li>
       <a href="#">直播活动</a>
    </li>
    <li class="dropdown">
        <a href="##" data-toggle="dropdown" class="dropdown-toggle">课程表<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="##">计划列表</a></li>
          <li><a href="##">开课确认</a></li>
        </ul>
     </li>
      <li class="dropdown">
        <a href="##" data-toggle="dropdown" class="dropdown-toggle">数字资源<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">学科资源</a></li>
          <li><a href="#">教学点录课</a></li>
        </ul>
     </li>
      <li>
         <a href="#">教师研修</a>
      </li>
      <li><a href="##">在线统计</a></li>
   </ul>
</div>
</div>
<div class="container page_wrap" id="list">
     <h5><a href="">首页</a> ＞ <a href="">通告列表</a></h5>  
     <div class="section pull-left">
       <h4>通知公告</h4>
                    <ul class="list-unstyled">
                       <li>
                         <i class="fa fa-caret-right" aria-hidden="true"></i>
                        <a href="#">湖北省教育信息化发展中心（湖北省电化村教师村教师信息信息</a>
                         <span class="title_min">2018-10-16</span>
                      </li>
                       <li>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        <a href="#">关于开展2018年度湖北省中信息村教师信息</a>
                        <span class="title_min">2018-10-16</span>
                       </li>
                       <li>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        <a href="#">湖北省教育信息化化村教师村教师信息信息</a>
                        <span class="title_min">2018-10-16</span>
                      </li>
                       <li>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        <a href="#">关于开展2018年度省中小学农村教师信息村教师信息</a>
                        <span class="title_min">2018-10-16</span>
                      </li>
                      <li>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        <a href="#">湖北省心（湖北省电化村教师村教师信息信息</a>
                        <span class="title_min">2018-10-16</span>
                      </li>
                      <li class="nohave">暂无数据</li>
                    </ul>
                 
          
          
     </div>
     <div class="article pull-right">
          <div class="list">
                  <div class="head">
                    <h4>工作状态</h4>
                     <a href="#">更多>></a>
                  </div>
                  <div class="body">
                    <ul class="list-unstyled">
                      <li>
                         <i class="fa fa-caret-right" aria-hidden="true"></i>
                         <a href="#">关于开展2018年度信息村教师信息</a>
                       </li>
                       <li>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        <a href="#">湖北省教育信息化发展中心（湖北省电化村教师村教师信息信息</a>
                       </li>
                       <li> 
                         <i class="fa fa-caret-right" aria-hidden="true"></i>
                         <a href="#">关于开展2018年度信息村教师信息</a>
                       </li>
                       <li>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        <a href="#">湖北省教育信息化发展中心（湖北省电化村教师村教师信息信息</a>
                       </li>
                       <li>
                         <i class="fa fa-caret-right" aria-hidden="true"></i>
                         <a href="#">关于开展2018年度信息村教师信息</a>
                       </li>
                       <li>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        <a href="#">湖北省教育信息化发展中心（湖北省电化村教师村教师信息信息</a>
                       </li>
                       
                    </ul>
                  </div>
               </div>
               <div class="list">
                  <div class="head">
                    <h4>政府政策</h4>
                     <a href="#">更多>></a>
                  </div>
                  <div class="body">
                    <ul class="list-unstyled">
                      <li>
                       
                        暂无数据
                       </li>
                    
                    </ul>
                  </div>
               </div>
     </div>
</div>
 
    
   
    
 

</body>
<script src="/ncjxdPage/static/src/js/lib/require.js"></script>
<script src="/ncjxdPage/static/src/js/re-config.js"></script>
<script src="/ncjxdPage/static/src/js/index.js"></script>
</html>