<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
<title>资讯详情</title>
<meta name="description" content="">
<meta name="keywords" content="">
<!--[if lt IE 10]>
        <script src="/ncjxdPage/static/src/js/ie_update.js"></script>
<![endif]-->
<link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="/ncjxdPage/static/src/style/lib/bootstrap/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/ncjxdPage/static/src/style/public.css">
<link rel="stylesheet" type="text/css" href="/ncjxdPage/static/src/style/liveDetail.css">
</head>
<body>  
<div id="header">
  <div class="container">
    <div class="title">
        <h3>湖北省农村教学点网校</h3>
        <p>— 管理与服务平台 —</p>
    </div>
   <ul class="nav navbar-nav">
    <li class="active">
      <a href="##">首页</a>
    </li>
    <li>
       <a href="#">巡课互动</a>
    </li>
     <li>
       <a href="#">直播活动</a>
    </li>
    <li class="dropdown">
        <a href="##" data-toggle="dropdown" class="dropdown-toggle">课程表<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="##">计划列表</a></li>
          <li><a href="##">开课确认</a></li>
        </ul>
     </li>
      <li class="dropdown">
        <a href="##" data-toggle="dropdown" class="dropdown-toggle">数字资源<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">学科资源</a></li>
          <li><a href="#">教学点录课</a></li>
        </ul>
     </li>
      <li>
         <a href="#">教师研修</a>
      </li>
      <li><a href="##">在线统计</a></li>
   </ul>
</div>
</div>
<div class="container page_wrap liveDetail_top">
    <h5><a href="">首页</a> ＞ <a href="">直播活动</a> ＞ <a href="">详情</a></h5> 
     
     <div class="article pull-right">
          <div class="list">
                  <div class="head">
                    <h4>视频列表</h4>
                  </div>
                  <div class="body">
                    <ul class="list-unstyled">
                      <li>
                         <span class="mp4"></span>
                         <a href="#">关于开展2018年度信息村教师信息</a>
                       </li>
                       <li>
                        <span class="mp4"></span>
                        <a href="#">湖北省教育信息化.mp4</a>
                       </li>
                       <li> 
                         <span class="mp4"></span>
                         <a href="#">湖北省教育信息化.mp4</a>
                       </li>
                       <li>
                        <span class="mp4"></span>
                        <a href="#">湖北省教育信息化.mp4</a>
                       </li>
                      
                       <li>
                          暂无相关
                       </li>
                       
                    </ul>
                  </div>
          </div> 
          <div class="list">
                  <div class="head">
                  <h4>相关文档</h4>
                  </div>
                  <div class="body">
                    <ul class="list-unstyled">
                      <li>
                         <span class="word"></span>
                         <a href="#">关于开展2018年度信息村教师信息</a>
                       </li>
                       <li>
                        <span class="ppt"></span>
                        <a href="#">湖北省教育信息化发展中心（湖北省电化村教师村教师信息信息</a>
                       </li>
                      
                      
                       <li >
                          暂无相关
                       </li>
                    </ul>
                  </div>
          </div>
     </div>
     <div class="section pull-left">
        <div class="mediaBox">
            <div id="video" style="width:100%;height:500px;"></div>     
        </div>
         
     </div>
</div>
<div class="liveDetail_bottom container">
     <div class="cell">
           <h4>活动简介</h4>    
         <p>
         阅读是运用语言文字来获取信息，认识世界，发展思维，并获得审美体验的活动。它是从视觉材料中获取信息的过程。视觉材料主要是文字和图片，也包括符号、公式、图表等。
         </p>
         <p>
           阅读是一种主动的过程，是由阅读者根据不同的目的加以调节控制的,陶冶人们的情操，提升自我修养。阅读是一种理解，领悟，吸收，鉴赏，评价和探究文章的思维过程。阅读可以改变思想，从而可能改变命运
         </p>
         </div>
          <div class="cell">
           <h4>活动评论</h4>    
          <div class="textarea">
             <textarea name="con" cols="45" rows="6" class="form-control"></textarea>
             <button class="btn btn-info">评 论</button>
             <i class="fa fa-smile-o" style="color:orange"></i>
          </div>
          <div class="comment">
             <h5 class="title">全部评论( 30 )条</h5>
             <div class="item">
                <div class="media">
                    <a class="pull-left" href="#">
                      <img class="media-object" src="http://reserver.needu.cn:9000/images/resource2/42062608/video/20180920/f1f41bcd086b45478f89b9f163e24fa9/1bb5a6620d3c48fab60313154b08d28f_capture/1.jpg" alt="...">
                    </a>
                    <div class="media-body">
                      <h5 class="media-heading"><span class="name">宋飞</span> 2018-10-16</h5>
                      <div class="content">这里是评论内容这里是评论内容这里是评论内容这里这里是评论内容这里是评论内容这里是评论内容这里是评论内容这里是评论内容这里是评论内容这里是评论内容这里是评论内容这里是评论内容这里是评论内容这里是评论内容是评论内容这里是评论内容这里是评论内容
                      </div>
                    </div>
                </div>
              </div>
                <div class="item">
                <div class="media">
                    <a class="pull-left" href="#">
                      <img class="media-object" src="http://reserver.needu.cn:9000/images/resource2/42062608/video/20180920/f1f41bcd086b45478f89b9f163e24fa9/1bb5a6620d3c48fab60313154b08d28f_capture/1.jpg" alt="...">
                    </a>
                    <div class="media-body">
                      <h5 class="media-heading"><span class="name">宋飞</span> 2018-10-16</h5>
                      <div class="content">这里是评论内容这里是评论内容这里是评论内容这里这里是评论内容这里是评论内容这里是评论内容这里是评论内容这里是评论内容这里是评论内容这里是评论内容这里是评论内容这里是评论内容这里是评论内容这里是评论内容是评论内容这里是评论内容这里是评论内容
                      </div>
                    </div>
                </div>
              </div>
          </div>
         </div>
</div>
 
    
   
    
 

</body>
<script src="/ncjxdPage/static/src/js/lib/require.js"></script>
<script src="/ncjxdPage/static/src/js/re-config.js"></script>
<script src="/ncjxdPage/static/src/js/liveDetail.js"></script>
</html>