<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
<title>直播活动</title>
<meta name="description" content="">
<meta name="keywords" content="">
<!--[if lt IE 9]>
        <script src="/ncjxdPage/static/src/js/ie_update.js"></script>
<![endif]-->
<link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="/ncjxdPage/static/src/style/lib/bootstrap/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/ncjxdPage/static/src/style/public.css">
<link rel="stylesheet" type="text/css" href="/ncjxdPage/static/src/style/livePlay.css">
</head>
<body>    
	<div class="container page_wrap" id="live">
		<h4>直播活动</h4>
		<div class="body clear">
			<div class="mediaBox pull-left">
				<div id="video" style="width:865px;height:500px;"></div>
			</div>
			<div class="mediaInfo pull-right">
				<div class="title">
					教学点研健康《父母的小帮手》课堂直播第三课心理健康《
				</div>
				<div class="title_min">
					活动时间：2018-11-12（周一）09:00
				</div>
				<div class="content">
					  <p>
					  	活动简介：阅读是运用语言文字来获取信息，认识世界，发展思维，并获得审美体验的活动。它是从视觉材料中获取信息的过程。视觉材料主要是文字和图片，也包括符号、公式、图表等。阅读是一种主动的过程，是由阅读者根据不同的目的加以调节控制的,陶冶人们的情操，提升自我修养。阅读是一种理解，领悟，吸收，鉴赏，评价和探究文章的思维过程。阅读可以改变思想，从而可能改变命运。
					  	，发展思维，并获得审美体验的活动。它是从视觉材料中获取信息的过程。视觉材料主要是文字和图片，也包括符号、公式、图表等。阅读是一种主动的过程，是由阅读者根据不同的目的加以调节控制的,陶冶人们的情操，提升自我修养。
					  </p>
				</div>
			</div>
		</div>
	</div>
	<div class="container" id="more">
		<h4>更多活动</h4>
		<div class="row">
			<div class="col-md-6 item">
				<div class="media">
				    <a class="pull-left" href="#">
				    	<img class="media-object" src="http://reserver.needu.cn:9000/images/resource2/42062605/video/20181026/9d48ad2f34ac44a391b5133c5133f66b/742848f2497e46b8acc4fb170167a449_capture/1.jpg" alt="...">
				  	</a>
				  	<div class="media-body">
				    	<h5 class="media-heading">农村教学点研修第六课音乐《森林狂想曲》评课</h5>
				    	<div class="title_min">湖北省农村教学点网校网络研修音乐《森林狂想曲》评课武汉市教育科学研究院胡晓燕</div>
				    	<div class="title_beizhu">2018-10-19 (周五) 09:26</div>
				  	</div>
				</div>
			</div>
			<div class="col-md-6 item">
				<div class="media">
				    <a class="pull-left" href="#">
				    	<img class="media-object" src="http://reserver.needu.cn:9000/images/resource2/42062603/video/20181016/38103750816148ba90b8cc2accac7f2a/8d326174cc1d487ea198edb4a7875b94_capture/1.jpg" alt="...">
				  	</a>
				  	<div class="media-body">
				    	<h5 class="media-heading">农村教学点研修第六课音乐《森林狂想曲音乐《森林狂想音乐《森林狂想》评课</h5>
				    	<div class="title_min">音乐《森林狂想曲》评课武汉市教育科学研究院胡晓燕》评课武汉市》评课武汉市》评课武汉市</div>
				    	<div class="title_beizhu">2018-10-19 (周五) 09:26</div>
				  	</div>
				</div>
			</div>
			<div class="col-md-6 item">
				<div class="media">
				    <a class="pull-left" href="#">
				    	<img class="media-object" src="http://reserver.needu.cn:9000/images/resource2/42062604/video/20181019/d85cee01f0eb43fe8875a016aa3e026a/d492d8359230490697da75dab94ac41b_capture/1.jpg" alt="...">
				  	</a>
				  	<div class="media-body">
				    	<h5 class="media-heading">农村教学点研修第六课音乐《森林狂想曲》评课</h5>
				    	<div class="title_min">湖北省农村教学点网校网络研汉市教育科学研究院胡晓燕</div>
				    	<div class="title_beizhu">2018-10-19 (周五) 09:26</div>
				  	</div>
				</div>
			</div>
			<div class="col-md-6 item">
				<div class="media">
				    <a class="pull-left" href="#">
				    	<img class="media-object" src="http://reserver.needu.cn:9000/images/resource2/42062608/video/20180920/f1f41bcd086b45478f89b9f163e24fa9/1bb5a6620d3c48fab60313154b08d28f_capture/1.jpg" alt="...">
				  	</a>
				  	<div class="media-body">
				    	<h5 class="media-heading">农村教学点研修第六课音乐《森林狂想曲》评课</h5>
				    	<div class="title_min">湖北省农村教学点网校网络学研究院胡晓燕</div>
				    	<div class="title_beizhu">2018-10-19 (周五) 09:26</div>
				  	</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="/ncjxdPage/static/src/js/lib/require.js"></script>
<script src="/ncjxdPage/static/src/js/re-config.js"></script>
<script src="/ncjxdPage/static/src/js/livePay.js"></script>
</html>