<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
<title>个人中心</title>
<meta name="description" content="">
<meta name="keywords" content="">
<!--[if lt IE 10]>
        <script src="/ncjxdPage/static/src/js/ie_update.js"></script>
<![endif]-->
<link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="/ncjxdPage/static/src/layui/css/layui.css">
<link rel="stylesheet" type="text/css" href="../static/src/style/public.css">
<link rel="stylesheet" type="text/css" href="../static/src/style/manage.css">
</head>
<body>    
  <div>
  	  <div class="container page_wrap">
  	  	  <div class="article pull-left">
  	  	  	  <div class="title">
  	  	  	  	<i class="fa fa-book" aria-hidden="true"></i>
  	  	  	  	咨询管理
  	  	  	  </div>
  	  	  	  <ul>
  	  	  	  	<li class="indexN">
  	  	  	  		<a href="manage_n">动态通知公告</a>
  	  	  	  	</li>
  	  	  	  	<li class="indexT">
  	  	  	  		<a href="manage_t.html">首页推荐</a>
  	  	  	  	</li>
  	  	  	  	<li class="indexI">
  	  	  	  		<a href="manage_i.html">首页照片推荐 </a>
  	  	  	  	</li>
  	  	  	  	<li class="recT active">
  	  	  	  		 <a href="javascript:void(0)">资源推荐</a>
  	  	  	  	</li>
  	  	  	  </ul>
  	  	  </div>
  	  	  <div class="seciton pull-right">
  	  	  	  <div id="indexR" class="table_b">
	  	  	  	 <div class="head">
	  	  	  	 	 <button class="layui-btn layui-btn-normal" id="add">
	  	  	  	 	 	<i class="fa fa-file-text-o" aria-hidden="true"></i>
	  	  	  	 	    添加资源
	  	  	  	 	</button>
		  	  	  	 <span>说明：此处为首页“精品资源”内容管理，默认将显示最新添加的10个资源。</span>
		  	  	  	
	  	  	  	 </div>
                 <div class="body">
                 	<table class="layui-table">
                 		<thead>
                 			<tr>
                 				<th></th>
                 				<th>资源标题</th>
                 				<th>资源类型</th>
                 				<th>添加时间</th>
                 				<th>操作</th>
                 			</tr>
                 		</thead>
                 		<tbody>
                 			
                 			<tr>
                 				<td>1</td>
                 				<td>这里是推荐内容的标题标题</td>
                 				<td>3</td>
                 				<td>2018.11.15</td>
                 				<td><a class="del">删除</a></td>
                 				
                 			</tr>
                 			<tr>
                 				<td>2</td>
                        <td>2018.11.15</td>
                 				<td>这里是推荐内容的标题标题</td>
                 				<td>2018.11.15</td>
                 				<td>
                          <a class="del">删除</a>
                        </td>
                 			</tr>
                 		</tbody>
                 	</table>
                 </div>
  	  	  	 </div>
  	  	  	</div>
  	  	  </div>
  	  </div>
  </div>



  <!-- 弹窗 -->
   <div id="controlAdd"  class="control" style="display: none;">
       <div class="layui-form" action="">
          <div class="layui-form-item">
            <label class="layui-form-label">
             <span class="red">*</span> 标题：
            </label>
            <div class="layui-input-block">
              <input type="text" name="title" required  lay-verify="required" placeholder="标题" autocomplete="off" class="layui-input">
           </div>
        </div>
         <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="white">*</span> 标题：
            </label>
            <div class="layui-input-block">
               <input type="text" name="title" required  lay-verify="required" placeholder="默认自动获取资源标题" autocomplete="off" class="layui-input">
           </div>
        </div>
          <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="white">*</span> 类型:
            </label>
            <div class="layui-input-block">
               <input type="text" name="title" required  lay-verify="required" 
               placeholder="默认自动获取文件类型" autocomplete="off" class="layui-input" >
           </div>
        </div>
       </div>
    </div>




</body>
<script src="/ncjxdPage/static/src/js/lib/require.js"></script>
<script src="/ncjxdPage/static/src/js/re-config.js"></script>
<script src="/ncjxdPage/static/src/js/manage_r.js"></script>

</html>