<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
<title>个人中心</title>
<meta name="description" content="">
<meta name="keywords" content="">
<!--[if lt IE 10]>
        <script src="/ncjxdPage/static/src/js/ie_update.js"></script>
<![endif]-->
<link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="../static/src/layui/css/layui.css">
<link rel="stylesheet" type="text/css" href="../static/src/style/public.css">
<link rel="stylesheet" type="text/css" href="../static/src/style/manage.css">
</head>
<body>    
  <div>
  	  <div class="container page_wrap">
  	  	  <div class="article pull-left">
  	  	  	  <div class="title">
  	  	  	  	<i class="fa fa-book"></i>
  	  	  	  	咨询管理
  	  	  	  </div>
  	  	  	  <ul>
  	  	  	  	<li class="indexN">
  	  	  	  		<a href="manage_n.html">动态通知公告</a>
  	  	  	  	</li>
  	  	  	  	<li class="indexT">
  	  	  	  		<a href="manage_t.html">首页推荐</a>
  	  	  	  	</li>
  	  	  	  	<li class="indexI active">
  	  	  	  		<a href="javascript:void(0)">首页照片推荐 </a>
  	  	  	  	</li>
  	  	  	  	<li class="recT">
  	  	  	  		 <a href="manage_r.html">资源推荐</a>
  	  	  	  	</li>
  	  	  	  </ul>
  	  	  	  <div >
  	  	  	  	<i class="fa fa-tags"></i>
  	  	  	  	活动管理
  	  	  	  </div>
  	  	  	  <ul>
  	  	  	  	<li>
  	  	  	  		<a href="manage_n.html">活动列表</a>
  	  	  	  	</li>
  	  	  	  </ul>
  	  	  	   <div class="title">
  	  	  	  	<i class="fa fa-cog" aria-hidden="true"></i>
  	  	  	  	用户管理
  	  	  	  </div>
  	  	  	  <ul>
  	  	  	  	<li>
  	  	  	  		<a href="manage_n.html">管理员管理</a>
  	  	  	  	</li>
  	  	  	    <li >
  	  	  	  		<a href="manage_n.html">下级管理</a>
  	  	  	  	</li>
  	  	  	  </ul>
  	  	  	  <div class="title">
  	  	  	  	<i class="fa fa-home"></i>
  	  	  	  	学校管理
  	  	  	  </div>
  	  	  	  <ul>
  	  	  	  	<li >
  	  	  	  		<a href="manage_n.html">学校管理</a>
  	  	  	  	</li>
  	  	  	    <li >
  	  	  	  		<a href="manage_n.html">教师管理</a>
  	  	  	  	</li>
  	  	  	  </ul>
  	  	  	   <div class="title">
  	  	  	  	<i class="fa fa-user" aria-hidden="true"></i>
  	  	  	  	账号管理
  	  	  	  </div>
  	  	  </div>
  	  	  <div class="seciton pull-right">
  	  	  	  <div id="indexI">
	  	  	  	 <div class="head">
	  	  	  	 	 <button class="layui-btn layui-btn-normal" id="add">
	  	  	  	 	 	<i class="fa fa-file-image-o" aria-hidden="true"></i>
	  	  	  	 	 上传照片
	  	  	  	 	</button>
		  	  	  	 <span>说明：此处为首页“教学现场”内容管理，默认将显示最新上传的4张照片。</span>
		  	  	  	
	  	  	  	 </div>
                 <div class="body">
                 	<div class="layui-row">
                 	 	    
							
							 
							  <div class="layui-col-md3">
							      <div class="inner"><img src="https://files.dodoedu.com/resize/650x650/attachments/4605b835b965bf5b.jpg"></div>
							      <p class="title_main" >上传时间：
							      	 2018.10.30
							      </p>
							      <a  class="del">删除照片</a>
							 </div>
							 <div class="layui-col-md3">
							      <div class="inner"><img src="https://files.dodoedu.com/resize/650x650/attachments/4605b835b965bf5b.jpg"></div>
							      <p class="title_main">上传时间：
							      	 2018.10.30
							      </p>
							      <a class="del">删除照片</a>
							 </div>
							  <div class="layui-col-md3">
							      <div class="inner"><img src="https://files.dodoedu.com/resize/650x650/attachments/4605b835b965bf5b.jpg"></div>
							      <p class="title_main" >上传时间：
							      	 2018.10.30
							      </p>
							      <a  class="del">删除照片</a>
							 </div>
							 <div class="layui-col-md3">
							      <div class="inner"><img src="https://files.dodoedu.com/resize/650x650/attachments/4605b835b965bf5b.jpg"></div>
							      <p class="title_main">上传时间：
							      	 2018.10.30
							      </p>
							      <a class="del">删除照片</a>
							 </div>
							  <div class="layui-col-md3">
							      <div class="inner"><img src="https://files.dodoedu.com/resize/650x650/attachments/4605b835b965bf5b.jpg"></div>
							      <p class="title_main" >上传时间：
							      	 2018.10.30
							      </p>
							      <a  class="del">删除照片</a>
							 </div>
							 <div class="layui-col-md3">
							      <div class="inner"><img src="https://files.dodoedu.com/resize/650x650/attachments/4605b835b965bf5b.jpg"></div>
							      <p class="title_main">上传时间：
							      	 2018.10.30
							      </p>
							      <a class="del">删除照片</a>
							 </div>
							  <div class="layui-col-md3">
							      <div class="inner"><img src="https://files.dodoedu.com/resize/650x650/attachments/4605b835b965bf5b.jpg"></div>
							      <p class="title_main" >上传时间：
							      	 2018.10.30
							      </p>
							      <a  class="del">删除照片</a>
							 </div>
							 <div class="layui-col-md3">
							      <div class="inner"><img src="https://files.dodoedu.com/resize/650x650/attachments/4605b835b965bf5b.jpg"></div>
							      <p class="title_main">上传时间：
							      	 2018.10.30
							      </p>
							      <a class="del">删除照片</a>
							 </div>
							
							 <div class="layui-col-md3">
							      <div class="inner"><img src="https://files.dodoedu.com/resize/650x650/attachments/4605b835b965bf5b.jpg"></div>
							      <p class="title_main" >上传时间：
							      	 2018.10.30
							      </p>
							      <a  class="del">删除照片</a>
							 </div>
							 <div class="layui-col-md3">
							      <div class="inner"><img src="https://files.dodoedu.com/resize/650x650/attachments/4605b835b965bf5b.jpg"></div>
							      <p class="title_main">上传时间：
							      	 2018.10.30
							      </p>
							      <a class="del">删除照片</a>
							 </div>
							  <div class="layui-col-md3">
							      <div class="inner"><img src="https://files.dodoedu.com/resize/650x650/attachments/4605b835b965bf5b.jpg"></div>
							      <p class="title_main" >上传时间：
							      	 2018.10.30
							      </p>
							      <a  class="del">删除照片</a>
							 </div>
							 <div class="layui-col-md3">
							      <div class="inner"><img src="https://files.dodoedu.com/resize/650x650/attachments/4605b835b965bf5b.jpg"></div>
							      <p class="title_main">上传时间：
							      	 2018.10.30
							      </p>
							      <a class="del">删除照片</a>
							 </div>
							
							
                 	 </div>
                 </div>
  	  	  	 </div>
  	  	  	 
  	  	  	</div>
  	  	  </div>
  	  </div>
  </div>

  <div id="controlImg" class="control" style="display: none;">
  	    <div class="layui-form">
        <div class="layui-form-item" > 
             <button class="layui-btn layui-btn-normal layui-btn-sm" id="upbtn">
                  选择本地图片
            </button>
            <span>可选jpg/png等图片文件，一次最多选择10张照片</span>
       </div>
        <div class="imglist">
            <div class="item">
            	<div class="title">1515131515</div>
            	<img src="https://img.alicdn.com/tps/i4/TB1XmmdkAvoK1RjSZPfSutPKFXa.jpg_1080x1800Q70s50.jpg">
            </div>   
       </div>
     </div>
 </div>

</body>
<script src="../static/src/js/lib/require.js"></script>
<script src="../static/src/js/re-config.js"></script>
<script src="../static/src/js/manage_i.js"></script>
</html>