<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
<title>基本信息</title>
<meta name="description" content="">
<meta name="keywords" content="">
<!--[if lt IE 10]>
        <script src="/ncjxdPage/static/src/js/ie_update.js"></script>
<![endif]-->
<link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="../static/src/layui/css/layui.css">
<link rel="stylesheet" type="text/css" href="../static/src/style/public.css">
<link rel="stylesheet" type="text/css" href="../static/src/style/manage.css">
</head>
<body>    

  	  <div class="container page_wrap">
  	  	  <div class="article pull-left">
  	  	  	  <div class="title">
  	  	  	  	<i class="fa fa-book"></i>
  	  	  	  	咨询管理
  	  	  	  </div>
  	  	  	  <ul>
  	  	  	  	<li>
  	  	  	  		<a href="manage_n.html">动态通知公告</a>
  	  	  	  	</li>
  	  	  	  	<li>
  	  	  	  		<a href="manage_t.html">首页推荐</a>
  	  	  	  	</li>
  	  	  	  	<li >
  	  	  	  		<a href="javascript:void(0)">首页照片推荐 </a>
  	  	  	  	</li>
  	  	  	  	<li >
  	  	  	  		 <a href="manage_r.html">资源推荐</a>
  	  	  	  	</li>
  	  	  	  </ul>
  	  	  	  <div class="title">
  	  	  	  	<i class="fa fa-tags"></i>
  	  	  	  	活动管理
  	  	  	  </div>
  	  	  	  <ul>
  	  	  	  	<li >
  	  	  	  		<a href="manage_n.html">活动列表</a>
  	  	  	  	</li>
  	  	  	  </ul>
  	  	  	   <div class="title">
  	  	  	  	<i class="fa fa-cog" aria-hidden="true"></i>
  	  	  	  	用户管理
  	  	  	  </div>
  	  	  	  <ul>
  	  	  	  	<li  >
  	  	  	  		<a >管理员管理</a>
  	  	  	  	</li>
  	  	  	    <li >
  	  	  	  		<a href="manage_lower.html">下级管理</a>
  	  	  	  	</li>
  	  	  	  </ul>
  	  	  	  <div class="title">
  	  	  	  	<i class="fa fa-home"></i>
  	  	  	  	学校管理
  	  	  	  </div>
  	  	  	  <ul>
  	  	  	  	<li >
  	  	  	  		<a href="manage_school.html">学校管理</a>
  	  	  	  	</li>
  	  	  	    <li >
  	  	  	  		<a href="manage_teacher.html">教师管理</a>
  	  	  	  	</li>
  	  	  	  </ul>
  	  	  	   <div class="title">
  	  	  	  	  <i class="fa fa-user" aria-hidden="true"></i>
  	  	  	  	账号管理
  	  	  	  </div>
              <ul>
                <li class="active">
                  <a href="manage_userInfo.html">基本资料</a>
                </li>
                <li >
                  <a href="manage_userPassWrod.html">修改密码</a>
                </li>
              </ul>
  	  	  </div>
  	  	  <div class="seciton pull-right" id="manage_userInfo">
	  	  	  	 <div class="head clear">
  	  	  	  	 	<span>说明：此处可以修改管理员基本信息。</span>
  	  	  	   </div>
               <div class="body">
                  <div class="formWrap" >
                      <div class="layui-form">
                        <div class="layui-form-item">
                          <label class="layui-form-label">
                            <span class="white">* </span>
                            姓名:
                           </label>
                          <div class="layui-input-inline active_author">
                            <input type="text" name="title"  lay-verify="required" placeholder="省级管理员" autocomplete="off" class="layui-input">
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label">
                            <span class="white">* </span>
                            电话:
                           </label>
                          <div class="layui-input-inline active_author">
                            <input type="text" name="title"  lay-verify="required" placeholder="主讲人" autocomplete="off" class="layui-input">
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label">
                            <span class="white">* </span>
                            电子邮箱:
                           </label>
                          <div class="layui-input-inline active_time">
                            <input type="text" name="title"  lay-verify="required" placeholder="请输入电子邮箱" autocomplete="off" class="layui-input">
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label">
                            <span class="white">* </span>
                            身份证号:
                           </label>
                          <div class="layui-input-inline">
                              <input type="text" name="title"  lay-verify="required" placeholder="请输入身份证号" autocomplete="off" class="layui-input">
                          </div>
                        </div>
                         <div class="layui-form-item">
                          <label class="layui-form-label">
                            <span class="red"> </span>
                            个人头像
                           </label>
                          <div class="layui-input-inline active_upload">
                              <button class="layui-btn layui-btn-primary" id="upImg">选择图片</button>
                              <span>（尺寸大于280像素*157像素，大小小于5M，支持JPG/JPEG/PNG/GIF/BMP类型的图片）</span>
                          </div>

                          <div class="layui-form-item">
                              <div class="layui-input-block clearifx">
                               <div class="inner">
                                  <img src="" id="viewImg" 
                                   alt="封面图预览" 
                                  >
                               </div>
                                <div class="inner">
                                  <img src="" id="viewImg" 
                                   alt="几经有的图片" 
                                  >
                               </div>
                            </div>
                          </div>

                         <div class="layui-form-item">
                              <div class="layui-input-block clearifx">
                                <button class="layui-btn layui-btn-normal">保 存</button>                               
                             </div>
                          </div>
                        </div>
                      </div>
                  </div>
               </div>
                
  	      </div>
  	  	  	 
  	 </div>


 
 
  <div id="controlAddteacher"  class="control"  style="display: none;">
      <div class="layui-form" action="">
          <div class="layui-form-item">
            <label class="layui-form-label">
             <span class="red">*</span> 用户名：
            </label>
            <div class="layui-input-block">
              <input type="text" name="title"  lay-verify="required" placeholder="请输入多多社区用户名" autocomplete="off" class="layui-input">
           </div>
        </div>
         <div class="layui-form-item">
            <label class="layui-form-label">
             <span class="red">*</span> 姓名：
            </label>
            <div class="layui-input-block text">
               自动获取教室姓名
           </div>
        </div>
         <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="red">*</span> 任教年级：
            </label>
            <div class="layui-input-block">
                    <input type="checkbox" name="" title="一年级">
                    <input type="checkbox" name="" title="二年级" checked>
                    <input type="checkbox" name="" title="三年级">
                    <input type="checkbox" name="" title="四年级" checked>
                    <input type="checkbox" name="" title="五年级">
                    <input type="checkbox" name="" title="六年级">
           </div>
        </div>
          <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="red">*</span> 任教学科：
            </label>
            <div class="layui-input-block">

                    <input type="checkbox" name="" title="语文">
                    <input type="checkbox" name="" title="数学" checked>
                    <input type="checkbox" name="" title="英语">
                    <input type="checkbox" name="" title="音乐" checked>
                    <input type="checkbox" name="" title="美术">
                    <input type="checkbox" name="" title="科学">
                    <input type="checkbox" name="" title="心理健康">
                    <input type="checkbox" name="" title="生命安全">
           </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="white">*</span> 联系电话：
            </label>
            <div class="layui-input-block">
               <input type="text" name="title" lay-verify="required" placeholder="联系电话" autocomplete="off" class="layui-input" value="">
           </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="red">*</span> 状态：
            </label>
            <div class="layui-input-block">
               <input type="radio" name="status" value="normal" title="正常" checked>
               <input type="radio" name="status" value="dis" title="禁用">
           </div>
          </div>
       </div>
   </div>


</body>
<script src="../static/src/js/lib/require.js"></script>
<script src="../static/src/js/re-config.js"></script>
<script src="../static/src/js/manage_userPassWrod.js"></script>
</html>