<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
<title>首页</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" type="text/css" href="">
<link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<style type="text/css">
   a:hover {text-decoration: none;}
   #ncjxd_index .content { overflow: hidden; margin-left: -10px; margin-right: -10px;}
   #ncjxd_index .cell {  float: left; width: 50%;padding: 10px;box-sizing: border-box;}
   #ncjxd_index .inner { height: 300px; display: block;
    background-color: pink;width: 100%;cursor: pointer; }
   #ncjxd_index .title {text-align: center;font-size: 23px;font-weight: bolder;padding-top:140px;}
</style>
<body>  

<div class="container" id="ncjxd_index">
<div class="head">
    <h3>
      湖北农村教学点网校配套资源与管理平台
    </h3>
</div>
<div class="content">
    <div class="cell">
        <a class="inner" href="#">
          <div class="title"><i></i>教学点资源中心</div>
        </a>
    </div>
    <div class="cell">
        <a class="inner" href="#">
           <div class="title"><i></i>资源中心管理平台</div>
        </a>
    </div>
    <div class="cell">
        <a class="inner" href="#">
           <i></i>
        </a>
    </div>
    <div class="cell">
        <a class="inner" href="#">
          <i></i>
        </a>
    </div>
</div>
</div>
    
   
    
 

</body>

</html>