<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
<title>巡课互动</title>
<meta name="description" content="">
<meta name="keywords" content="">
<!--[if lt IE 10]>
        <script src="/ncjxdPage/static/src/js/ie_update.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="../static/src/style/public.css">
<link rel="stylesheet" type="text/css" href="../static/src/style/patrol.css">
</head>
<body>    
  <div id="header">
  <div class="container">
    <div class="title">
        <h3>湖北省农村教学点网校</h3>
        <p>— 管理与服务平台 —</p>
    </div>
   <ul class="nav navbar-nav">
    <li>
      <a href="##">首页</a>
    </li>
    <li class="active">
       <a href="#">巡课互动</a>
    </li>
     <li>
       <a href="#">直播活动</a>
    </li>
    <li class="dropdown">
        <a href="##" data-toggle="dropdown" class="dropdown-toggle">课程表<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="##">计划列表</a></li>
          <li><a href="##">开课确认</a></li>
        </ul>
     </li>
      <li class="dropdown">
        <a href="##" data-toggle="dropdown" class="dropdown-toggle">数字资源<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">学科资源</a></li>
          <li><a href="#">教学点录课</a></li>
        </ul>
     </li>
      <li>
         <a href="#">教师研修</a>
      </li>
      <li><a href="##">在线统计</a></li>
   </ul>
</div>
<style type="text/css">
  body {
     background-color: #666;
  }
 #patrol_live .liveRow {
    margin-left: -7px;
    margin-right: -7px;
    overflow: hidden;
 }

 #patrol_live .liveRow .item {
    float: left;
    width: 50%;
    padding: 0 7px;
    box-sizing: border-box;
 }

 #patrol_live .vidoebox {
    width: 100%;
    height: 350px;
    background-color: #fff;
    margin-bottom: 15px;
 }

 #patrol_live .title {
    text-align: center;
    color:#fafafa;
    font-size: 18px;
    margin-bottom: 20px;
 }
</style>
</div>
   <div class="container page_wrap" id="patrol_live">
   	  <h4 style="color:#fff">巡课互动 - <small style="color: #fafafa">课堂直播</small></h4>
      <div class="title" >
         某某某教学点
      </div>
   	  <div class="liveRow">
         <div class="item">
            <div class="vidoebox">
              
            </div>
         </div>
         <div class="item">
            <div class="vidoebox">
              
            </div>
         </div>
         <div class="item">
           <div class="vidoebox">
              
            </div>
         </div>
         <div class="item">
           <div class="vidoebox">
              
            </div>
         </div>
      </div>
   </div>










 	   





</body>



<script src="../static/src/js/lib/require.js"></script>
<script src="../static/src/js/re-config.js"></script>
<script src="../static/src/js/patrol.js"></script>
</html>