<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
<title>课表管理</title>
<meta name="description" content="">
<meta name="keywords" content="">
<!--[if lt IE 10]>
        <script src="/njx/static/src/js/ie_update.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="../static/src/layui/css/layui.css">
<link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<!-- <link rel="stylesheet" type="text/css" href="../static/src/style/lib/bootstrap/bootstrap.min.css"> -->
<link rel="stylesheet" type="text/css" href="../static/src/style/public.css">
<link rel="stylesheet" type="text/css" href="../static/src/style/tableClass.css">
<!-- <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"/> -->
</head>
<body>    
  <div id="header">
  <div class="container">
    <div class="title">
        <h3>湖北省农村教学点网校</h3>
        <p>— 管理与服务平台 —</p>
    </div>
   <ul class="nav navbar-nav">
    <li>
      <a href="##">首页</a>
    </li>
    <li>
       <a href="#">巡课互动</a>
    </li>
     <li>
       <a href="#">直播活动</a>
    </li>
    <li class="active">
       
        <a href="#">课表管理</a>
     </li>
      <li class="dropdown">
        <a href="##" data-toggle="dropdown" class="dropdown-toggle">数字资源<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">学科资源</a></li>
          <li><a href="#">教学点录课</a></li>
        </ul>
     </li>
      <li>
         <a href="#">教师研修</a>
      </li>
      <li><a href="##">在线统计</a></li>
   </ul>
</div>
</div>
   <div class="container page_wrap">
      <h4>课表管理</h4>
      <div class="layui-form filter">
         <dl class="clear">
          <dt class="two">&nbsp地&nbsp&nbsp区：</dt>
          <dd>
            <select name="city" lay-verify="required">
              <option value="">全部</option>
              <option value="0">北京</option>
              <option value="1">上海</option>
              <option value="2">广州</option>
              <option value="3">深圳</option>
              <option value="4">杭州</option>
               </select>
            </dd>
            <dd class="margin">
              <select name="city" lay-verify="required">
              <option value="">全部</option>
              <option value="0">岐山县</option>
              <option value="1">眉山县</option>
              <option value="2">鄠县</option>
               </select>
            </dd>
          <dt class="two">&nbsp学&nbsp&nbsp校：</dt>
          <dd class="shoolSelect">
            <select name="city" lay-verify="required">
              <option value="0">全部</option>
              <option value="1">语文</option>
              <option value="2">数学</option>
              <option value="3">英语</option>
              <option value="4">美术</option>
               </select>
          </dd>      
         </dl>
          <dl class="clear">
          <dt class="padding">&nbsp教&nbsp&nbsp室：</dt>
          <dd class="tag">
            <span>教室一</span>
            <span>教室二</span>
            </dd>
         </dl>
         <dl class="clear tag-right">
           <dt class="padding">&nbsp课&nbsp&nbsp表：</dt>
          <dd class="tag">
            <span >发起</span>
            <span class="active">接收</span>
          </dd>
         </dl>
          <button class="layui-btn layui-btn-normal tab_btn">查询</button>
      </div>
        <div class="table">
          <div class="header clear">
             <div class="title">
                 2018-2019上学期课表
              <small>
                  2018-09-01至2019-01-04
              </small>
             </div>
             

              <div class="week">
                 <span class="bar Add">
                     <i class="fa fa-angle-left" aria-hidden="true"></i>
                 </span>
                 <span class="main">
                    第 1 周
                 </span>
                 <span class="bar sub">
                     <i class="fa fa-angle-right" aria-hidden="true"></i>
                 </span>
              </div>
              <div class="layui-btn-group">
                  <div  id="configBt">配置  
                     <ul class="content">
                       <li>
                        <a href="">编辑学期</a>
                       </li>
                       <li>
                         <a href="">设置上课时间</a>
                       </li>
                       <li>
                         <a href="">历史课表</a>
                       </li>
                       <li>
                         <a href="">操作日志</a>
                       </li>
                     </ul>
                  </div>
                </div>
              <div class="layui-btn-group">
                   <button class="layui-btn layui-btn-primary">编辑课表</button>
                   <button class="layui-btn layui-btn-primary">开课确认</button>
                </div>
              
            
          </div>
          <div class="body">
           
          <table class="layui-table" style="margin-top: 0">
                       <colgroup>
                          <col width="66">
                          <col>
                          <col>
                           <col>
                          <col>
                          <col>
                          <col>
                           <col>
                          <col>
                          
                        </colgroup>
                      <thead>
                          <tr>
                          <th>午别</th>
                          <th>节次</th>
                          <th>
                          星期一
                          <div class="smallTitle">12月17日</div>
                        </th>
                          <th>
                            星期一
                          <div class="smallTitle">12月18日</div>
                          </th>
                          <th>星期三</th>
                          <th>星期四</th>
                          <th>星期五</th>
                          <th>星期六</th>
                          <th>星期日</th>
                        </tr> 
                      </thead>
                      <tbody>
                            <tr>
                                <td rowspan="4" class="Bold">上午</td>
                                <td style="font-size: 12px; line-height: 20px;">
                                  <div>一</div>
                                </td>
                                <td position="1,1">1</td>
                                <td position="1,2" class="today">2</td>
                                <td position="1,3"></td><td position="1,4">3</td>
                                <td position="1,5"></td><td position="1,6">4</td>
                                <td position="1,7">6</td>
                            </tr>
                             <tr>
                                <td style="font-size: 12px; line-height: 20px;">
                                  <div>二</div>
                                </td>
                                  <td position="2,1"></td>
                                  <td position="2,2" class="today"></td>
                                  <td position="2,3"></td><td position="2,4"></td>
                                  <td position="2,5"></td><td position="2,6"></td>
                                  <td position="2,7"></td></tr><tr><td style="font-size: 12px; line-height: 20px;">
                                    <div>三</div>
                                  </td>
                                  <td position="3,1"></td>
                                  <td position="3,2" class="today"></td>
                                  <td position="3,3"></td>
                                  <td position="3,4"></td>
                                  <td position="3,5"></td>
                                  <td position="3,6"></td>
                                  <td position="3,7"></td>
                                </tr>
                      </tbody>
                  </table>
          </div>
      </div>
   </div>











     





</body>
<!-- <script src="/njx/static/src/layui/layui.js"></script>
<script src="/njx/static/src/layui/js/layui-config.js"></script>
<script src="/njx/static/src/layui/js/patrol.js"></script> -->


<script src="../static/src/js/lib/require.js"></script>
<script src="../static/src/js/re-config.js"></script>
<script src="../static/src/js/table.js"></script>
</html>