
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
        <title>首页</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <!--[if lt IE 10]>
                <script src="http://images.dev.dodoedu.com/ncjxdPage/static/src/js/ie_update.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"/>        
                                    <link  href="http://wufff.static.dev.dodoedu.com/ncjxdPage/static/src/layui/css/layui.css" rel="stylesheet" type="text/css"/>
                            <link  href="http://wufff.static.dev.dodoedu.com/ncjxdPage/static/src/style/tableClass.css" rel="stylesheet" type="text/css"/>
             
            </head>
    <body>  
        <div id="header">
            <div class="container">
    <div class="title">
        <h3>湖北省农村教学点网校</h3>
        <p>— 管理与服务平台 —</p>
    </div>
    <ul class="nav navbar-nav">
        <li class="active">
            <a href="/">首页</a>
        </li>
        <li>
            <a href="#">巡课互动</a>
        </li>
        <li>
            <a href="/live">直播活动</a>
        </li>
        <li class="dropdown">
           <!--  <a href="/course" data-toggle="dropdown" class="dropdown-toggle">课程表<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="##">计划列表</a></li>
                <li><a href="##">开课确认</a></li>
            </ul> -->
            <a href="/course">课程表</a>
        </li>
        <li class="dropdown">
            <a href="##" data-toggle="dropdown" class="dropdown-toggle">数字资源<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">学科资源</a></li>
                <li><a href="#">教学点录课</a></li>
            </ul>
        </li>
        <li>
            <a href="http://wangyong.yanxiu.dev.dodoedu.com">教师研修</a>
        </li>
        <li><a href="/analytics">在线统计</a></li>
    </ul>
</div>        </div>

        <!--主内容开始-->
            <input id="school_id" name="school_id" type="hidden" value="2790183"></input>
<input id="term_id" name="term_id" type="hidden" value="1490493"></input>
<input id="current_week" name="current_week" type="hidden" value="21"></input>
<div class="container page_wrap">
    <h4>课表管理</h4>
    <div class="layui-form filter">
        <dl class="clear">
            <dt class="two">&nbsp城&nbsp&nbsp市：</dt>
            <dd>
                <select name="city" lay-filter="city">
                                            <option value="4721483">省直辖行政单位</option>
                                            <option value="4786389">恩施土家族苗族自治州</option>
                                            <option value="4785384">随州市</option>
                                            <option value="4775387">咸宁市</option>
                                            <option value="4775380">黄冈市</option>
                                            <option value="4765383">荆州市</option>
                                            <option value="4755386">孝感市</option>
                                            <option value="4745389">荆门市</option>
                                            <option value="4745382">鄂州市</option>
                                            <option value="4735385">襄阳市</option>
                                            <option value="4725388">宜昌市</option>
                                            <option value="4715384">十堰市</option>
                                            <option value="4705387">黄石市</option>
                                            <option value="4705380">武汉市</option>
                     
                </select>
            </dd>
            <dd class="margin" >
                <select name="area" lay-filter="area">
                </select>
            </dd>
            <dt class="two">&nbsp学&nbsp&nbsp校：</dt>
            <dd class="shoolSelect" >
                <select name="school" lay-filter="school">

                </select>
            </dd>      
        </dl>
        <dl class="clear">
            <dt class="padding">&nbsp教&nbsp&nbsp室：</dt>
            <dd class="tag classRoom">
                <label style="font-weight: normal;">无教室</label>
            </dd>
        </dl>
        <dl class="clear tag-right">
            <dt class="padding">&nbsp课&nbsp&nbsp表：</dt>
            <dd class="tag tableTpye">
                <span class="active" data-id="">发起</span>
                <span >接收</span>
            </dd>
        </dl>
        <button class="layui-btn layui-btn-normal tab_btn">查询</button>
    </div>
    <div class="table">
        <div class="header">
            <div class="title">
                2017-2018上学期课表
                <small>
                    2018-12-17至2018-12-23                </small>
            </div>


            <div class="week">
                <span class="bar Add">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </span>
                <span class="main">
                    第 21 周
                </span>
                <span class="bar sub">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
            </div>

            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-primary">开课确认</button>
                <button class="layui-btn layui-btn-primary">编辑课表</button>          
            </div>
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-primary">设置</button>
            </div>

        </div>
        <div class="body">
            <table class="layui-table" lay-even>
                <colgroup>
                    <col width="60">
                    <col width="60">
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th>午别</th>
                        <th>节次</th>
                        <th>星期一</th>
                        <th>星期二</th>
                        <th>星期三</th>
                        <th>星期四</th>
                        <th>星期五</th>
                        <th>星期六</th>
                        <th>星期天</th>
                    </tr> 
                </thead>
                <tbody>
                                        <tr>
                        <td></td>
                        <td>08:00-08:45</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                                        <tr>
                        <td></td>
                        <td>09:00-09:45</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                                        <tr>
                        <td></td>
                        <td>10:00-10:45</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                                        <tr>
                        <td></td>
                        <td>11:00-11:45</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                                        <tr>
                        <td></td>
                        <td>14:00-14:45</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                                        <tr>
                        <td></td>
                        <td>15:00-15:45</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                                        <tr>
                        <td></td>
                        <td>16:00-16:45</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                     
                </tbody>
            </table>
        </div>
    </div>
</div>        <!--主内容结束-->
    </body>
                        <script type="text/javascript" src="http://wufff.static.dev.dodoedu.com/ncjxdPage/static/src/js/lib/require.js" ></script>
                    <script type="text/javascript" src="http://wufff.static.dev.dodoedu.com/ncjxdPage/static/src/js/re-config.js" ></script>
                    <script type="text/javascript" src="http://wufff.static.dev.dodoedu.com/ncjxdPage/static/src/js/table.js" ></script>
         
    </html>