@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-11-05 14:25:13
 * @version $Id$
 */
.singleText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
