@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-11-05 14:21:29
 * @version $Id$
 */
@import "config.less";
body {
  background: #f8f8f8;
}
.clear:after{content: "";display:block;clear: both;}
.clear:after{*zoom: 1}
.container {
	 width: 1200px;
	 margin: 0 auto;
	 padding: 0;
}
.pull-left { float: left; }
.pull-right {float: right;}
.h4, h4 {
    font-size: 18px;
}

.red {
    color:red;
  }
.white {
     color:white;
}


.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.page_wrap { margin-top: 25px; }

a:hover { text-decoration: none; }


//layui 下拉

.layui-form-select dl dd.layui-this {
    color: #000;
    background-color: #f2f2f2;
}

.layui-form-select dl dd:hover {
	  background-color: @color_main;
      color:#fff;
	  transition: 0s all;
      
}

.layui-form-radio>i:hover, .layui-form-radioed>i {
     color: @color_main;
}

.layui-btn-group .layui-btn-primary:hover {
    color: #1E9FFF;
}






