@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-11-05 14:21:29
 * @version $Id$
 */

@import "config.less";
@import "./modules/filter.less";
@import "./modules/table.less";

body {
  background: #f8f8f8;
}
.clear:after{content: "";display:block;clear: both;}
.clear:after{*zoom: 1}
.container {
	 width: 1200px;
	 margin: 0 auto;
	 padding: 0;
}
.pull-left { float: left; }
.pull-right {float: right;}
.h4, h4 {
    font-size: 18px;
}

.red {
    color:red;
  }
.white {
     color:white;
}


.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.page_wrap { margin-top: 25px; margin-bottom: 25px;}

a:hover { text-decoration: none; }
a:focus { text-decoration: none !important;}

//layui 下拉

.layui-form-select dl dd.layui-this {
    color: #000;
    background-color: #f2f2f2;
}


.layui-form-select dl dd:hover {
	  background-color: @color_main;
    color:#fff;
	  transition: 0s all;
}

.layui-form-radio>i:hover, .layui-form-radioed>i {
     color: @color_main;
}

.layui-btn-group .layui-btn-primary:hover {
    color: #1E9FFF;
}
.layui-laydate .layui-this {
   background-color: #1E9FFF!important;
   color: #fff!important;
}

 .layui-btn-normal {
    border: 1px solid #C9C9C9;
    background-color: #fff;
    color: #555;
}

.layui-btn-normal:hover {
  color: #1E9FFF;
}

.layui-btn-primary:hover {
    border-color: #1E9FFF;
    color: #333;
}

.layui-layer-loading3 {
         margin: 0 auto !important;
  }
//下拉
// .layui-form-select dl dd.layui-this {
//      background-color: #1E9FFF !important;
//      color:#fff;
// }


//分页
.comm-page { text-align: center; clear: both; }
.comm-page div { width: auto; overflow: hidden; text-align: right; }
.comm-page b { position: relative; top: 2px; }
.comm-page a { color: #666; display: inline-block; padding: 6px 12px; margin: 5px 3px; border: 1px solid #d4d4d4; background: #fff; vertical-align: middle; border-radius: 5px;  }
.comm-page a:hover { text-decoration: none; background:#e6f4ff; border: 1px solid #e6f4ff; }
.comm-page .current, .comm-page .pagenum {  display: inline-block; padding: 6px 12px; border: 1px solid #e6f4ff;; background:#e6f4ff; vertical-align: middle; border-radius: 5px; }
.comm-page .pagenum { color: #666; background: #d4d4d4; border: 1px solid #ccc; font-style: normal; font-weight: normal; }

//登录框
.white_black {background-color:#fff;width: 365px;z-index: 500;height:374px;overflow: hidden;box-shadow: 0 0 15px rgba(204,204,204,.5);
  border-radius: 0;}
.white_black .head {height: 35px;line-height: 35px;background-color: #fafafa;font-size: 16px;padding-left:20px;color: #999;position: relative;
   border-bottom: 1px solid #E5E5E5;}
.white_black .head .closeDialog {position: absolute;top: 2px;right:4px;font-size: 30px;font-weight: 700;line-height: 1;color: #ddd;text-shadow: 0 1px 0 #FFF;
    cursor: pointer;background: 0 0;border: 0;outline: none;}
.white_black .body {padding: 15px 30px;position: relative;}
.white_black .body .eer {position: absolute;left:32px;top:198px;}
.white_black .body .err { position: absolute;left:193px;top:179px; }
.white_black .body .title {position: relative;margin-bottom:15px;overflow: hidden;}
.white_black .body .title  .h4 {
   float: left;
   padding-bottom:8px;
   cursor: pointer;
   width: 50%;
   text-align: center;
   color:#999;
}
.white_black .body .title  .h4.active {
    border-bottom: 3px solid #46b8da;
    color:#666;
}

.white_black .body .title .bt {position: absolute;right: 0;top:7px;font-size: 13px;}
.white_black .body .title .bt a {display: inline;text-decoration:underline;}
.white_black .body  ul li {margin-bottom: 15px; border: 1px solid #ccc;padding: 6px;position: relative;}
.white_black .body  ul li i {color: #999;font-size: 16px;padding: 0 5px;vertical-align: middle;}
.white_black .body  ul li input {width: 240px;padding: 4px 6px;height: 26px;line-height: 26px;overflow: hidden;border: none;
  border-left: 1px solid #ccc;vertical-align: middle;color: #333;box-shadow: none;margin-left: 2px;
  outline: none;
}
.white_black .body input[type=checkbox] { width: 15px; height: 15px; vertical-align: text-bottom;}
.white_black .body  ul li.prompt {border: none;padding: 0;}
.white_black .body .foragerbt{font-size: 13px;margin-bottom: 45px;height: 15px;}
.white_black .body .submit {width: 100%;height: 40px;line-height: 40px;cursor: pointer;display: block;color: #fff;
   background-color: #ecb64f;border: none;outline: none;font-size: 16px;border-radius: 4px;margin-bottom: 15px;}
.white_black .body .other_login h4{margin-bottom: 10px;}
.white_black .body .other_login {font-size: 32px;cursor: pointer;}
.white_black .body .other_login .qq {color: #90ddff;}
.white_black .body .other_login .wx {color:  #d6ff90;}
.white_black .body  label {font-weight: normal; color:#666;}
.white_black .body img.author { width: 100px; height: 100px; border-radius:50%; border: 3px solid #269abc; display: block; margin: 0 auto;  }
.btnWrap { padding-top: 50px;text-align: center; }
.white_black .body .name { text-align: center; color:#ff7400;padding-top:30px; font-size: 18px;}
.btnWrap a { margin: 0 5px; }
.teacherLogin { text-align: center;font-size: 20px;padding-top: 35px;
i { color:#999999; }
a:hover { text-decoration: none;}
.go {margin-bottom: 20px;}
}

