@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-11-07 17:18:17
 * @version $Id$
 */
@import "config.less";
@import "./public.less";
@import "./modules/head.less";
@import "./modules/filter.less";
@import "./modules/table.less";



a{ color:#555; }





.table {
  background: #fff;
  border: 1px solid #e6e6e6;
  padding: 15px 25px;
  margin-bottom: 30px;
   .week {
       position: absolute;
       right:468px;
       top:8px;
        width: 200px;
  
         span {
           padding: 15px 10px; 
         }
         span.bar {
           cursor: pointer;
            
         }
   }
	.header{ 
	  font-size: 16px;
	  margin-bottom: 15px;
    position: relative;


    .title {
       position: absolute;
       top: 9px;
       font-size: 18px;
       color:#666666;
       small{
        margin-left: 20px;
        color:#909090;
       }
    }
     .layui-btn-group {
        float: right;
        margin-left: 10px;
     }
     > button {
        float: right;
      }  
      
      span.tot {
      	 color:@color_main;
      }
      span.run {
      	 color: green;
      }
      span.over{
      	 color: #9c999f;
      } 
      span.ready {
      	  color:orange;
      }
       span.min {
            color: @font_fu_color ;
            font-size: @font_fu;
            margin-left: 20px;
        }
	 }
}

.configBt {
  position: relative;
  font-size: 14px;
  border:1px solid #c9c9c9;
  border-radius: 2px;
  height: 38px;
  padding: 9px 15px 0 15px;
  &:hover {
      .content {
         display: block;
      }
      color: #1E9FFF;
  }
  .content {  
    position: absolute;background-color: #fff;z-index: 999999999999;
    left:0px;top:37px; border:1px solid #c9c9c9;text-align: center;
    display: none;
    li{
       height: 35px;line-height: 35px;cursor: pointer;
       width: 110px;
       a {
         display: block;
       }
       &:hover{
           background-color:#c9c9c9;
          a { color: #1E9FFF;text-decoration: none; }
       }
    }
   }
}

.noneTd{
   height: 180px;
}
.table .cTable .layui-table th { background-color: green; color: #fff; }
.table .cTable .layui-table td{ padding:0;position:static}
.table .cTable .layui-table td .classCell {height: 72px;padding-top: 15px;position: relative;}

td { 
   .info {
     position: absolute;
     width: 230px;
     border: 1px solid #ddd;
     border-radius: 5px;
     background:#fff;
     z-index: 9999;
     min-height: 280px;
     padding-bottom: 0px;
     display: none;
    
     .title {
       background: #fbb432eb;
       // background: #e6f4ff;
       color:#fff;
       font-size: 15px;
       height: 40px;
       line-height: 40px;
       
     }

     h5 {
        font-weight: bold;
        text-align: left;
        padding: 0 15px;
        margin-top: 15px;
        margin-bottom: 5px;
     }
     p{
        text-align: left;
         padding: 0 15px;
         margin-bottom: 5px;
     }
     .delitem {
          color: #fff;
          background: #fb9982;
          height: 35px;
          line-height: 35px;
          cursor: pointer;
          margin-top: 10px;
          border-radius: 0 0 5px 5px; 
     }
     .confirMitem  {
         height: 35px;
         line-height: 35px;
         overflow: hidden;
         border-radius: 0 0 5px 5px;
         border-top: 1px solid #ddd;
         span {
           float: left;
           text-align: center;
           width: 50%;
           cursor: pointer;
           i { margin-left: 2px; }
         }
         span.yes{
              border-right:1px solid #ddd;
              i { color: green; }
              color: green;
         }
         span.no {
              i { color: red; }
              color:red;
         }
     }
     // i.i {
     //    display: block;
     //    position: absolute;
       
     //    right: -10px;
     //    width: 10px;
     //    height: 16px;
     //    background:url(../img/cert.png) no-repeat; 
     // }
   }
    .topInfo{
       top: -42px;
       i.i {
          top: 150px;
       }
    }

    .bottomInfo {
       bottom: -4px;
       // i.i{
       //   bottom: 45px;
       // }
   }  
   .leftInfo {
        right: -230px;
   }
   .rightInfo {
        left:-230px;
   }
 }






.holiday {
   background: url("../img/holiday.png") no-repeat right top;
 }

 .holidayTd {
    background:#f2f2f2;
    // background: #e6e6e6
 }
 
 .steptitle {
   text-align: right;color: #999;
 }
 .isReady {
   color: orange !important;
 }
 .curhover {
   cursor: pointer;
 }

.todayTd  {
    background: #fafafa;
}




// 编辑课表
 .tag-selected {
   border: 1px solid #1E9FFF;
   float: left;
   padding: 0 7px;
   color: #1E9FFF;
   margin-right: 10px;
   margin-top: 3px;
  
   >span.inner{
     font-size: 15px;
     position: relative;
     top:1px;
   }
   >span.del {
     cursor: pointer;
     font-weight: bold;
     margin-left: 5px;
     font-size: 22px;
     vertical-align: middle;

   }
}



.chooseTag {
     height: 100%;

   .inTag {
           width: 245px;
           padding: 10px;
           float: right;
           .tag-selected { margin-bottom: 5px; }
        }

   .main {
     .searchWap {
       margin-bottom: 15px;
     }
     padding: 20px;
     height: 100%;
     float: left;
     width: 550px;
     border-right: 1px solid #ddd;
     input.searchText {
       width: 200px;
       float: left;
       border-radius: 0;
       border-right: none;
       margin-left: 138px;
     }
     button.searchBtn {
        float: left;
       
     }
    .layui-tab-title { 
        height: auto;
        float: left;
        border-bottom: 0px;
        width: 100px;
        li { width: 100px;display: block; background-color: #f3f5f6;border:none;margin-bottom: 1px;}
        .layui-this { 
          background-color: #fff;
          border-color: #fff;
          &:after{
            border-color:#ddd;
            border-left-color: @color_main;
            border-right:none;
            }
         }
        
     }
     .layui-tab-content {
       float:right;
       padding-left: 30px;
      
       // border-top:1px solid #ddd;
       width: 409px;
     }

     .tag_content {
        span.tag {
            cursor: pointer;
            display: inline-block;
            padding: 10px 10px;
        }

     }
   }
}



#classTagControl {
    .active{
      color: #1E9FFF;
       }
}
#classRoomTagControl {
    .active{
      color: #1E9FFF;
       }
}


#tagWeekWrap {
   .active{
      color: #1E9FFF;
       }
}


.minTitle {
   text-align: right;
   color: #999999;
}
.minTitle.active{
    color: orange;
}



//选择时间弹窗

 #controlstudyTime   span { margin-right: 20px; }
    .layui-laydate-content>.layui-laydate-list {
                padding-bottom: 0px;
                overflow: hidden;
            }
            .layui-laydate-content>.layui-laydate-list>li{
                width:50%
            }
 
            .merge-box .scrollbox .merge-list {
                padding-bottom: 5px;
            }
     

     #controlstudyTime {
         padding: 20px 40px;
    }
    #controlstudyTime .item { 
        margin-bottom: 10px;
      }
     
    #controlstudyTime .timebox {
         display: inline-block;
      }

    #controlstudyTime  .timeInput {
         display: inline-block;
         width: 130px;
      }
   #controlstudyTime .title {
     /* border-bottom:  1px solid #ddd;*/
      margin-bottom: 10px;
      padding-bottom: 10px;
      position: relative;
   }
   #controlstudyTime .title .addbt {
     position: absolute;
     right: 32px;
      top:-4px;
   }
   #controlstudyTime .del {
     display: inline-block;
     margin-left: 28px;
   }

   #controlstudyTime .up {
      border-bottom:  1px solid #ddd;
      margin-bottom: 20px;
   }

   .layui-laydate .layui-this {
    background-color: #1E9FFF!important;
  }
